<div class="jumbotron">
	<h1 id="jumbotron_text">to.do.or.not.to.do. <span class="glyphicon glyphicon-pencil"></span></h1>
</div>

  <div id="menu_bar" class="btn-group btn-group-justified">
    <%= link_to 'dashboard' , todos_path, :class => 'btn btn-info', id: "news"%>
    <%= link_to 'settings' , edit_user_path(current_user), :class => 'btn btn-info', id: "setting"%>
    <%= link_to 'about' , about_path, :class => 'btn btn-info', id: "about" %>
    <%= link_to 'logout' , sessions_path, method: :delete, :class => 'btn btn-info', id: "logout" %>
  </div>
<div class="container-fluid">

	<div class="row center-block" id="category_input">

		<div class="col-sm-4 col-sm-offset-4 "><br />

				<h4>I need to... <span class="glyphicon glyphicon-pencil"></span></h4>
			    <input type="text" class="form-control"> <br/>
			    <div class="time">
			    <h4><span class="glyphicon glyphicon-time"></span> Send at:</h4>
			    		<h5> <%= select_hour(Time.now)%> H: <%= select_minute(Time.now)%> M</h5>
 		    	 <h4><span class="glyphicon glyphicon-calendar"></span> on:</h4>	
 		    			<h5> <%= select_month(Date.today)%> <%= select_day(Date.today)%> <h5>
 		    				<h5><%= select_year(Date.today)%> </h5>
		    	</div>
		    	<br />
		    		
			<button class= "btn btn-info"><span class="glyphicon glyphicon-plus"></span></button>
			  
	  </div>

	</div>

	<div class="scroll">
		<ul>
			<%@todos.each do |todo| %>

			<%if todo.user_id == session[:current_user_id]%>

			<li class="check <% if todo.completed%> done<% end %>"  data-todo-id="<%= todo.id %>">  
				<input type="checkbox" id="checkborder" <%if todo.completed%>checked<%end%>>
				<%=todo.description%> 
        			<span class="glyphicon glyphicon-trash"></span>
			</li>
			<%end%>

			<% end %>
		</ul>
	</div>

	<br />
	<br />


</div>
