<div class="jumbotron">
	<h1 id="jumbotron_text"><span class="glyphicon glyphicon-pencil">RememoApp</span></h1>
 
</div>

  <div id="menu_bar" class="btn-group btn-group-justified">
    <%= link_to 'dashboard' , todos_path, :class => 'btn btn-info', id: "news"%>
    <%= link_to 'settings' , todos_path, :class => 'btn btn-info', id: "setting"%>
    <%= link_to 'about' , todos_path, :class => 'btn btn-info', id: "about" %>
    <%= link_to 'logout' , sessions_path, method: :delete, :class => 'btn btn-info', id: "logout" %>
  </div>
<div class="container-fluid">

	<div class="row center-block" id="category_input">

		<div class="col-sm-4 col-sm-offset-4 "><br />
		
			
				<h4>I need to...</h4>
			    <input type="text" class="form-control"> <br/>
			    <h4>Send reminder in:</h4>
		    			<h5> days:<%= select_day(Date.today)%></h5>
		    			<h5> hours:<%= select_hour(Time.now)%></h5>
 		    			<h5>mins:<%= select_minute(Time.now)%></h5>


		    			<!-- <select class="form-control options" id="minutes">
					      <option>Minutes:</option>
					      <% for i in (30..120).step(15)%>
					        <option><%=i.to_s + " minutes" %></option>
					      <% end %>
					    </select>
		    			
		    			<select class="form-control options" id="hours">
					      <option>Hours:</option>
					      <% for i in 2..23%>
					        <option value=<% "for i in 2..23"%>>select_hour(Time.now + 6.hours)</option>
					      <% end %>
					    </select>

					    <select class="form-control options" id="days">
					      <option>Days:</option>
					      <% for i in 1..7%>
					        <option><%=i.to_s + " days" %></option>
					      <% end %>
					    </select>
					     -->
					    <br /><br />
					    <!-- when this button is pushed is pushed we what the value to be saved and
					    stored  -->
			<button class= "btn btn-info"><span class="glyphicon glyphicon-plus"></span></button>

			  

	  </div>

	</div>

	<div class="scroll">
		<ul>
			<%@todos.each do |todo| %>

			<%if todo.user_id == session[:current_user_id]%>

			<li class="check <% if todo.completed%> done<% end %>"  data-todo-id="<%= todo.id %>">  
				<input type="checkbox" <%if todo.completed%>checked<%end%>>
				<%=todo.description%> 
        <span class="glyphicon glyphicon-trash"></span>
			</li>
			<%end%>

			<% end %>
		</ul>
	</div>

	<br />
	<br />


</div>
